---
import { createClient } from '@libsql/client'

const client = createClient({url: import.meta.env.TURSO_URL!, authToken: import.meta.env.TURSO_AUTH_TOKEN!})

const data = await client.execute(`SELECT 1`)
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<div>
			<pre>{JSON.stringify(data, null, 2)}</pre>
		</div>
	</body>
</html>
